div(style="text-align:center;padding:50px;")
  h2(style="font-size:32px;letter-spacing:-1px;margin-bottom:10px;") Nothing here yet!
  p(style="color:#999;font-size:16px;") But someday we'll show open orders and stats and stuffs.