!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/shoperations.js")
  body
    header
      .container
        h1 Shoperations
        p Hola, Carlos!
        nav
          ul!= partial('nav')
    #main.container
      - messages = this.flash('success')
      - if(messages.length)
        - for(var i=0; i<messages.length; i++)
          p.message.success= messages[i]
      - messages = this.flash('error')
      - if(messages.length)
        - for(var i=0; i<messages.length; i++)
          p.message.error= messages[i]
      != body