!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        h1 Shoperations
        p Hola, Carlos!
        nav
          ul!= partial('nav')
    #main.container!= body