!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Shoperations
      p Hola, Carlos!
      nav
        ul
          li
            a(href="#") Dashboard
          li
            a(href="#") Products
          li.active
            a(href="/orders") Orders
          li
            a(href="#") Packages
          li
            a(href="#") Customers
    #main!= body