!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/shoperations.js")
  body
    header
      .container
        h1 Shoperations
        p Hola, Carlos!
        nav
          ul!= partial('nav')
    #main.container
      - successMessages = this.flash('success')
      - if(successMessages.length)
        - for(var i=0; i<successMessages.length; i++)
          p.message.success= successMessages[i]
      != body