tr(class="order-item freight")
  th.c
    input(type="checkbox", name='order-items', value=freight.id)
  td(colspan=5)
    = freight.description
    br
    small= freight.type
  td.r= freight.amount.toCurrency()
  td.c
    small
      a(href="#") History