- nav = {All: '/orders', Open: '/orders/open', Processing: '/orders/processing', Completed: '/orders/completed'}

- for(n in nav)
  - active = params.state === n || (!params.state && n === 'All')
  a(href=nav[n], class= active ? 'active' : 'inactive')= n