h1 Packages

table
  thead
    tr
      th ID
      th Container
      th Shipped via
      th Tracking #
      th Origin
      th Destination
  tbody
    - each package in order.packages
      tr
        td= package.id
        td= package.container.name
        td= package.shippingMethod.name
        - if(package.status === "Shipped")
          td
            a(href="#")= package.trackingNumber
        - else 
          td
            small Hasn't shipped
        td
          address
            = package.origin.name
            br
            != address(package.origin.address, '<br />')
        td
          address
            = package.destination.name
            br
            != address(package.destination.address, '<br />')
            - if(package.destination.phoneNumber)
              br
              = package.destination.phoneNumber