h1= title

form.search(action="", method="get", style="overflow:hidden;")
  p(style="float:left;")
    input(type="search", placeholder="Keywords")
  p.statuses(style="float:right;")
    strong Status
    a(href="#") All
    a(href="#") Open
    a(href="#") Completed
    a(href="#") Cancelled
    
table
  thead
    tr
      th ID
      th Customer
      th.r.r(style="padding-right:40px;") Amount
      th Created
      th Status
      th
  tbody
    != partial('order', {collection: orders, as: "order"})
      