h1
  = (!!results.params.state ? results.params.state + ' ' : '') + title
  - if(!(typeof results.params.q === 'undefined'))
    = ' matching "'  + results.params.q + '"'
  = " (" + results.totalRecords + ")"

!= partial('../partials/search_form')
    
- if(results.records.length > 0)
  table
    thead
      tr
        th.c ID
        th Customer
        th Created
        th(style="padding-right:40px;") Amount
        th Status
        th
    tbody
      != partial('order', {collection: results.records, as: "order"})
- else
  p(style="font-size:18px;text-align:center;padding: 50px;") No results!