h1= title + " (" + results.totalRecords + ")"

form.search(action="", method="get", style="overflow:hidden;")
  p(style="float:left;")
    input(type="search", placeholder="Keywords")
  p.statuses(style="float:right;")
    strong Status
    != partial('order_filters', {object: results.params, as: "params"})
    
table
  thead
    tr
      th.c ID
      th Customer
      th Created
      th(style="padding-right:40px;") Amount
      th Status
      th
  tbody
    != partial('order', {collection: results.orders, as: "order"})
      