h1
  = title
  - if(!(typeof results.params.q === 'undefined'))
    = ' matching "'  + results.params.q + '"'
  = " (" + results.totalRecords + ")"

form.search(action="", method="get", style="overflow:hidden;")
  p(style="float:left;")
    input(type="search", placeholder="Keywords", name="q", value=results.params.q || '')
  p.statuses(style="float:right;")
    strong Status
    != partial('order_filters', {object: results.params, as: "params"})
    
- if(results.records.length > 0)
  table
    thead
      tr
        th.c ID
        th Customer
        th Created
        th(style="padding-right:40px;") Amount
        th Status
        th
    tbody
      != partial('order', {collection: results.records, as: "order"})
- else
  p(style="font-size:18px;text-align:center;padding: 50px;") No results!