h1= title + " (" + results.totalRecords + ")"

form.search(action="", method="get")
  p
    input(type="search", placeholder="Keywords")
  

table
  thead
    tr
      th ID
      th Name
      th Orders
  tbody
    - each customer in results.customers
      tr
        td= customer.id
        td
          a(href="/customers/" + customer.id)= customer.name

        td= (customer.orders ? customer.orders.length : 0)